
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>组号结果</title>
<script type="text/javascript" th:src="@{/js/viewprort.js}"></script>
<script type="text/javascript" th:src="@{/js/form-submit.js}"></script>
<script type="text/javascript" th:src="@{/js/filter/k3filter.js}"></script>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<link rel="stylesheet" th:href="@{css/newpage.css}" />
</head>
<body>
	<header class="head nav-back">
		<a href="#" class="back"></a>
		<h2>组号结果</h2>
	</header>
	<div class="zh-content">
		<div class="zh-kjqi">
			<div class="zh-tishileft">
				<span>1805027</span>期开奖&nbsp;&nbsp; <span class="zh-kjnum">1</span>
				<span class="zh-kjnum">2</span> <span class="zh-kjnum">2</span> </span>
			</div>
			<div class="zh-tishiright">
				距离 <span>29</span>期截止 <span>06:05</span> </span>
			</div>
		</div>
		<div class="zh-result">
			<ul class="zh-rs-ul">
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-chose">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>
				<li><div class="zh-rs-num-none">123</div></li>



			</ul>
			<div class="zh-rs-tj">
				共<span>1</span>注<span>2</span>&nbsp;(三不同&nbsp;:&nbsp;<span>0</span>注，二同号&nbsp;:&nbsp;<span>1</span>注)
			</div>
		</div>
		<div class="zh-bt_zh">
			<div class="zh-bt">
				倍投&nbsp;:&nbsp <input class="zh-input" type="text" />&nbsp;倍
			</div>
			<div class="zh-zh">
				追号&nbsp;:&nbsp <input class="zh-input" type="text" />&nbsp;期
			</div>
		</div>
	</div>

	<div class="zh-btjs">
		<input type="button" class="zh-btn-qk" value="清空" /> <span> 共 <span>3</span>注<span>6</span>元
		</span> <input type="button" class="zh-btn-qd" value="确定" />
	</div>
</body>
</html>
<script>
	
</script>